<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwOGXVBxCF8jyiKME5aWzARRMOvxu6C5A</string>
	<key>GCM_SENDER_ID</key>
	<string>775099642909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NickKearns.TWC-Scheduler</string>
	<key>PROJECT_ID</key>
	<string>twc-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>twc-scheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775099642909:ios:bfc120efbb22a3945b02f4</string>
</dict>
</plist>